<form action="" method="" ng-submit='$ctrl.onSubmit($event)' 
novalidate class="col-12 mt-4 mb-4" 
name="formAlumno" id ="formAlumno">
    <fieldset>
        <legend>Datos de usuario</legend>
        <div class="form-group">
            <label for="nombre">Nombre</label>
            <input type="text" class="form-control" 
            name="nombre" id="nombre"
            ng-model = "$ctrl.alumno.nombre" 
            ng-required="true" ng-minlength=2>
        </div>

        <div>
            <div class ="error" ng-show="formAlumno.nombre.$invalid && formAlumno.nombre.$touched">
                <p ng-show="formAlumno.nombre.$error.required">
                  El campo nombre es obligatorio  
                </p>
                <p ng-show="formAlumno.nombre.$error.minlength">
                  El campo debe contener al menos 2 caracteres
                </p>
                
            </div>
        </div>

        <div>
            Estado del control:
            Valid: {{formAlumno.nombre.$invalid}}
            Pristine: {{formAlumno.nombre.$pristine}}
            Untouched: {{formAlumno.nombre.$untouched}}
            Errores: {{formAlumno.nombre.$error}}
        </div>

        <div class="form-group">
            <label for="apellidos">Apellidos</label>
            <input type="text" class="form-control" name="apellido" id="apellidos"
            ng-model = "$ctrl.alumno.apellidos" ng-required="true">
        </div>
        <div class="form-group">
            <label for="dni">DNI</label>
            <input type="text" class="form-control" name="dni" id="dni"
            ng-model = "$ctrl.alumno.dni">
            </div>  
        <div class="form-group">
            <label for="email">Correo</label>
            <input type="email" class="form-control" name="email" id="email"
            ng-model = "$ctrl.alumno.email">
        </div>
        <div class="form-group">
            <label for="nacim">Fecha de nacimiento</label>
            <input type="date" class="form-control" name="nacim" id="nacim"
            ng-model = "$ctrl.alumno.nacim">
        </div>
        <div class="form-group">
        <label for="coment">Comentarios</label>
        <textarea class="form-control" name="coment" id="coment" rows="3" 
        ng-model = "$ctrl.alumno.coment"></textarea>
        </div>                            
    </fieldset>    
    <fieldset>
        <legend>Datos del curso</legend>
        <div class="form-check">
            <label class="form-check-label">
            <input type="checkbox" class="form-check-input" name="isOk" id="isOk"
            ng-model = "$ctrl.alumno.isOk">
            Estoy de acuerdo con ....
            </label>
        </div>  
        <div>
            <legend>Turno</legend>
            <div class="form-check"  ng-repeat="item in $ctrl.turnos">
                <label class="form-check-label" 
                    title="{{ item.info }}">
                    <input type="radio" class="form-check-input" 
                        name="turno" id="turno-{{item.id}}"
                        ng-value="item" ng-model = "$ctrl.alumno.turno"> <!-- Mejor manera -->
                        <!-- Otra forma de hacerlo
                        value="{{item}}" ng-model = "$ctrl.alumno.turno"> -->
                    {{item.nombre}}
                </label>      
            </div>  
        </div>  
        <div class="form-group" >
        <label for="curso">Selecciona el tema</label>
            <!-- Primera forma de hacerlo -->
            <!-- <select class="form-control" name="curso" id="curso" 
            ng-model = "$ctrl.alumno.curso">
                <option value=""></option>
                <option ng-repeat=' item in $ctrl.cursos' 
                title="{{ item.info }}"
                ng-value="item.id" >{{item.nombre}}</option>
            </select>  -->
           
            <!-- Segunda forma de hacerlo -->
            <select class="form-control" name="curso" id="curso"
            ng-model = "$ctrl.alumno.curso"
            ng-options = "item as item.nombre 
                          for item in $ctrl.cursos
                          track by item.id"
            ></select>
        </div>
    </fieldset>
    <button type="submit" class="btn btn-primary" ng-disabled="formAlumno.$invalid">
        Enviar</button>
</form>




